.carousel {
  margin-bottom: 25px;
  box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.19);
  background-color: #e06039;
}


@media (max-width: 767px) {
  .carouselHeight img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .carousel-img-r, .carousel-caption {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel img {
    border-radius: 50%;
  }

  .carouselHeight {
    height: 220px;
  }
  
  .imgHeight {
    -webkit-filter: drop-shadow(0 0 30px white); 
    filter: drop-shadow(0 0 30px white); 
    height: 170px;
    object-fit: contain;
  }

  .carousel-img-r {
    position: absolute;
    top: 11%;
    right: 40px;
  }
  
  .carousel-img-l {
    position: absolute;
    top: 11%;
    left: 40px;
  }

  .carousel h1 {
    color: white;
    text-shadow: 2px 2px 4px #333;
    font-size: 26px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .carousel img {
    border-radius: 50%;
  }

  .carouselHeight {
    height: 250px;
  }
  
  .imgHeight {
    -webkit-filter: drop-shadow(0 0 30px white); 
    filter: drop-shadow(0 0 30px white); 
    height: 200px;
    object-fit: contain;
  }

  .carousel-img-r {
    position: absolute;
    top: 10%;
    right: 10%;
  }
  
  .carousel-img-l {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .carousel h1 {
    color: white;
    text-shadow: 2px 2px 4px #333;
    font-size: 37px;
  }
}

@media (min-width: 1200px) {
  .carousel img {
    border-radius: 50%;
  }

  .carouselHeight {
    height: 300px;
  }
  
  .imgHeight {
    -webkit-filter: drop-shadow(0 0 30px white); 
    filter: drop-shadow(0 0 30px white); 
    height: 240px;
    object-fit: contain;
  }

  .carousel-img-r {
    position: absolute;
    top: 10%;
    right: 10%;
  }
  
  .carousel-img-l {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .carousel h1 {
    color: White;
    font-size: 45px;
    text-shadow: 2px 2px 4px #333;
  }
}



