.carousel {
  margin-bottom: 25px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.19);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media (max-width: 767px) {
  .carouselHeight {
    height: 200px;
  }
  
  .imgHeight {
    height: 200px;
    object-fit: contain;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel img {
    border-radius: 50%;
  }

  .carouselHeight {
    height: 180px;
  }
  
  .imgHeight {
    -webkit-filter: drop-shadow(0 0 30px #333); 
    filter: drop-shadow(0 0 30px #333); 
    height: 180px;
    object-fit: contain;
  }

  .carousel-img-r {
    position: absolute;
    right: 40px;
  }
  
  .carousel-img-l {
    position: absolute;
    left: 40px;
  }

  .carousel h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 26px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .carousel img {
    border-radius: 50%;
  }

  .carouselHeight {
    height: 250px;
  }
  
  .imgHeight {
    -webkit-filter: drop-shadow(0 0 30px #333); 
    filter: drop-shadow(0 0 30px #333); 
    height: 200px;
    object-fit: contain;
  }

  .carousel-img-r {
    position: absolute;
    top: 10%;
    right: 10%;
  }
  
  .carousel-img-l {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .carousel h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 33px;
  }
}

@media (min-width: 1200px) {
  .carousel img {
    border-radius: 50%;
  }

  .carouselHeight {
    height: 300px;
  }
  
  .imgHeight {
    -webkit-filter: drop-shadow(0 0 30px #333); 
    filter: drop-shadow(0 0 30px #333); 
    height: 240px;
    object-fit: contain;
  }

  .carousel-img-r {
    position: absolute;
    top: 10%;
    right: 10%;
  }
  
  .carousel-img-l {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .carousel h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
}


