#contact-us {
  margin-top: 40px;
}

.restaurant-info {
  padding: 10px 40px 40px 40px;
}

.restaurant-map {
  padding: 10px 40px 40px 40px;
}

.restaurant-phone {
  padding-bottom: 30px;
}

.restaurant-email {
  padding-bottom: 30px;
}

.restaurant-address {
  padding-bottom: 30px;
}