#footer {
  border-top: 2px solid;
  border-color:#fada58 ;
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.2), 0 2px 3px 6px rgba(0, 0, 0, 0.19);
  color: #c3c3c3;
  background-color: #131313;
}

#footer .footer-content{
  padding: 40px 0 40px;
}

