.menu-btns {
  display: flex;
  justify-content: center;
  
}

.menu-btns button {
  font-weight: bold;
  color: black;
}

#menu {
  margin-bottom: 30px;
}

#menu h2 {
  padding-top: 15px;
}

.btns-background-color {
  background-color: #f4f4f4;
}

.listing-items{
  padding: 55px 55px 55px 55px;
}

.menu-border {
  border-style: solid;
  border-width: 1px;
  border-color: #e4e3e3;
}