#menu {
  margin-bottom: 36px;
}

.menu-nav-top, .menu-nav-bottom {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
}

.menu-nav button {
  font-weight: bold;
  color: black;
}

#menu h2 {
  padding-top: 15px;
}

.btns-background-color {
  background-color: #f4f4f4;
}

.menu-content{
  padding: 55px;
}

.menu-inner-container {
  border-style: solid;
  border-width: 1px;
  border-color: #e4e3e3;
}

