.header {
  margin-bottom: 25px;
}

.navbar {
  border-bottom: 2px solid;
  border-color: #fada58;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
  background-color: #131313 !important; 
}


.navbar-nav a:hover {
  color: rgb(218, 218, 218) !important;
}

.navbar-nav a {
  transition: 0.1s ease;
}

.nav-brand {
  color: white !important;
}

nav h2 {
  display: inline-block;
  margin-bottom: 0px;
  font-family: 'Julee', cursive;
}

.nav-link {
  color: white !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.admin-login-link {
  color: greenyellow !important;
}

.admin-passsword {
  margin-bottom: 5px;
}

@media (min-width: 577px) and (max-width: 991px) {
  nav h2 {
    padding-left: 15px;
  }
}