.list-plates img{
  width: 110px;
  height: 110px;
  background-size: cover;
  display: block;
  border-style: solid;
  border-color: #ff7043;
  border-width: 4px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.list-plates .plate-container {
  margin-bottom: 15px;
}

.plate-content {
  display: flex; 
}

.name-and-price {
  display: flex; 
}

.plate-name {
  flex-basis: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-plates {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .menu-content{
    padding: 55px 35px 0 35px !important;
  }
}

@media (max-width: 767px) {
  .plate-content {
    display: flex; 
    flex-direction: column !important;
  }

  .list-plates img {
    margin-bottom: 15px;
  }

  .list-plates img{
    width: 200px;
    height: 200px;
    background-size: cover;
    display: block;
    border-style: solid;
    border-width: 4px;
    border-color: #ff7043;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }

  .plate-content .plate-img {
    display: flex;
    justify-content: center;
  }

  hr {
    margin: 25px 0 60px;
  }

  .list-plates {
    display: flex;
    flex-direction: column !important;
  }

  .left-col {
    flex-basis: 47%;
    min-width: 0; 
  }
  
  .right-col {
    flex-basis: 47%;
    min-width: 0; 
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .plate-img {
    flex: 0 0 23%; 
  }
  
  .plate-info{
    min-width: 0; 
  }

  .hl {
    display: flex;
    justify-content: flex-end;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(233, 231, 231);
    margin-right: 28px !important;
    margin-top: 25px !important;
    opacity: 0.7;
    padding: 0;
    flex-basis: 72%;
  }

  .list-plates {
    display: flex;
    flex-direction: column !important;
  }

  .left-col {
    flex-basis: 47%;
    min-width: 0; 
  }
  
  .right-col {
    flex-basis: 47%;
    min-width: 0; 
  }
}

@media (max-width: 991px) {
  .list-plates {
    display: flex;
    justify-content: center;
  }

  .menu-nav {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .plate-img {
    flex: 0 0 32%; 
  }
  
  .plate-info{
    min-width: 0; 
  }

  .sm-md-hr {
    display: none;
  }

  .hl {
    display: flex;
    justify-content: flex-end;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(233, 231, 231);
    opacity: 0.7;
    margin: 1em 0;
    padding: 0;
    flex-basis: 67%;
  }

  .menu-select-tag {
    display: none;
  }

  .left-col {
    flex-basis: 47%;
    min-width: 0; 
  }
  
  .right-col {
    flex-basis: 47%;
    min-width: 0; 
  }
}

@media (min-width: 1200px) {
  .plate-img {
    flex: 0 0 26%; 
  }
  
  .plate-info{
    min-width: 0; 
  }

  .sm-md-hr {
    display: none;
  }

  .hl {
    display: flex;
    justify-content: flex-end;
  }

  hr {
    display: block;
    height: 1px;
    margin-right: 13px !important;
    border: 0;
    border-top: 1px solid rgb(233, 231, 231);
    opacity: 0.7;
    padding: 0;
    flex-basis: 71%;
  }

  .menu-select-tag {
    display: none;
  }

  .left-col {
    flex-basis: 47%;
    min-width: 0; 
  }
  
  .right-col {
    flex-basis: 47%;
    min-width: 0; 
  }
}